*_backup_*
.LCK
*~
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk
_notes
dwsync.xml
*.swp
*.log
sitemap.xml
sitemap.xml.gz
/readme.html
/license.txt
/html/.htaccess
/data/.htaccess
/data/config/config.php
/data/cache/*
/data/config/*
/data/download/temp/*
/data/downloads/api/*
/data/downloads/backup/*
/data/downloads/module/*
/data/downloads/plugin/*
/data/downloads/tmp/plugin_install/*
/data/downloads/tmp/plugin_update/*
/data/downloads/update/*
/data/logs/*
/data/Smarty/config/*
/data/Smarty/templates_c/*
/data/upload/csv/*
/html/install/temp/*
/html/plugin/*
/html/upload/graph_image/*
/html/upload/mobile_image/*
/html/upload/temp_image/*
/html/upload/temp_plugin/*
/html/upload/temp_template/*
/html/user_data/include/preview/*
/html/user_data/packages/default/js/*
/html/user_data/templates/preview/*
!.gitignore
!.gitkeep